.header
  .header__left
    .header__left--logo
      %h1
        OKUTAMA
  .header__right
    %ul.header__right--ul
      %li
        = link_to 'PHILOSOPHY'
      %li
        = link_to 'MENU'
      %li
        = link_to 'GALLERY'
      %li
        = link_to 'NEWS'
      %li
        = link_to 'ACCESS'
      %li
        = link_to 'RESERVATION'