= render '/templates/other_header'
.page-title
  %h2
    CONTACT
.contact-form
  = form_for @contact do |f|
    .input-area
      %p お名前
      .input-area__form
        = f.text_field :name
    .input-area
      %p メールアドレス
      .input-area__form
        = f.email_field :email
    .input-area
      %p お問い合わせ内容
      .input-area__form
        = f.text_area :message
    = f.submit '送信', id: 'contact-button'
= render '/templates/footer'
