= render '/templates/index_header'
.top-image-container
  .top-image
    = image_tag 'top.png'
.main
  .main__title
    %h1
      新感覚のスパイス使いでインド料理の概念を覆すモダンインディアンキュイジーヌ
  .main__text
    %h2 
      日本人が持つ「インド料理」の概念を覆すモダンインディアンキュイジーヌ（Modern Indean Cuisine）を味わう。SPICE LAB TOKYOでは、洗練されたスパイス使いで新鮮な驚きに溢れる料理とスタイリッシュな上質空間で、世界中でここ銀座でしか体験できない、とっておきのエクスペリアンスをお届けします。
  .main__images
    .main__images--image1
      = link_to '#' do
        .image1
    .main__images--image2
      = link_to '#' do
        .image2
    .main__images--image3
      = link_to '#' do
        .image3
    .main__images--image4
      = link_to '#' do
        .image4
= render '/templates/footer'
